main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(var(--vh, 1vh) * 100 - 60px - 60px);
}

.input-wrapper {
  width: 100%;
  padding: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-wrapper input {
  width: 80%;
  padding: 10px;
  background-color: transparent;
  color: var(--colors-white);
  border: 1px solid var(--colors-blue);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 40px;
  font-size: calc(1rem * 14 / 16);
  border-right: 0px;
}

.input-wrapper button {
  background-color: var(--colors-blue);
  height: 40px;
  padding: 0 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.input-wrapper button svg {
  width: 24px;
  height: 24px;
}

.input-wrapper button svg path {
  fill: var(--colors-black);
}

@media screen and (min-width: 768px) {
  main {
    height: calc(var(--vh, 1vh) * 100 - 75px - 75px);
  }
}
