header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  height: 60px;
  box-shadow: 0 2px 3px var(--colors-white);
}

header h1 {
  margin: 0 auto;
  font-weight: bold;
  font-size: calc(1rem * 20 / 16);
  color: var(--colors-white);
}

header svg {
  width: 24px;
  height: 24px;
}

header span {
  width: 24px;
  height: 24px;
}
